@import 'partials/setup';
@import 'partials/typography';
@import 'partials/casestudies';
@import 'partials/mediaqueries';
@import 'partials/404';

/* GENERAL STYLES  */
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

body {
    font-family: $primary;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 400;
    background: $white;
}

section {
    padding-bottom: 2em;
}
.container {
    width: 80%;
    max-width: 1720px;
    margin: 0 auto;
}

/* LINK STYLES */
a {
    text-decoration: none;
    transition: all .4s ease-in;
    &:hover {
        background-image: linear-gradient(#fff 50%, $yellow 50%);       
    }
    &:focus {
        outline: 1px solid $yellow;  
    }
    &:active {
        background-image: linear-gradient(#fff 50%, $yellow 50%);
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
   background: $black;
    color: $white;
    text-transform: uppercase;
    padding: 1em 2em;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $black;
        color: $black;
    }
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    border: none;
    background: transparent;
    color: $black;
}

// HEADER STYLES

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    background-image: linear-gradient(#fff 50%, $yellow 50%);
}

h3 {
    margin-bottom: 0;
}

// BACKGROUND STYLES
.yellow-bkgrd {
    background: $yellow;
}

// SKIP LINK STYLES
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    color: white;
    font-weight: bold;
    background: $black;
}

.skip-links a:focus {
    top: 0;
}

/* SOCIAL NAV SIDEBAR */
.social-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4em 1em;
    height: 100%;
    text-align: center;
    z-index: 2;
}

.social-nav__name {
    transform: rotate(-90deg); 
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 45vh;
    background-image: linear-gradient(#fff 50%, $yellow 50%);
}

.social-nav__name a {
    color: black; 
}

.social-nav__socials ul li {
    margin-top: 10px;
    a {
        color: black;   
    }
}

/* MAIN NAV */
.main-nav {
    padding: 1em 0;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            display: inline-block;
            padding: 3%;
            a {
               color: black; 
            }
        }
    }
}

.hero {
    height: 90vh;
    h1 span {
        display: block;
        line-height: 150%;
    }
}

 .hero h1 .hero-md {
    font-size: 4vw;
 }

.hero h1 .hero-lrg {
    display: inline-block;
    font-size: 9vw;
    background-image: linear-gradient(#fff 50%, $yellow 50%);
    margin-bottom: .5em;
}

.hero h1 .hero-sm {
    font-size: 3vw;
}

.hero .scroll-down {
    display: block;
    text-align: center;
    a{
        color: $black;
    }
}

/* PORTFOLIO GRID LAYOUT */
.portfolio-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.portfolio-item {
  position: relative;
}

.project-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $yellow;
    cursor: url("./assets/zoomeye.png") 40 40, crosshair;
    transition: all .4s ease-in;
}

.portfolio-item:hover .project-item__overlay {
    opacity: 0.9;
}

.project-item__overlay-text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        &:after {
            content: ' ';
            display: block;
            width: 50px;
            border: 2px solid $black;
            text-align: center;
            margin: 0 auto;
        }
    }
    p {
        margin: 0;
    }
    a {
        display: block;
        margin: .5em 0;
        padding: .5em 1em;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid $black;
            color: $black;
        }
    }
}

.mobile-only-btns,
.mobile-only-title {
    display: none;
}

/*QUOTE SECTION*/
.quote {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    i {
        color: $black;
        text-shadow: 1px 1px $yellow;
    }
}

.quote q {
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px $yellow;
}

.quote p {
  margin: 20px;
  text-align: right;
  text-shadow: 1px 1px $yellow;
}

// ABOUT ME
.about {
    p{
        width: 80%;
    }
}

/*SKILLS AND TOOLS STYLES*/
.skills-tools {
    margin-bottom: 2em;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 0;
}

.skills-item {
    margin: 0 1em;
}

.skills-item__icon {
  text-align: center;
  display: block; 
  font-size: 6rem;
  height: 60px;
  width: 60px;
}

.cv {
    &:hover {
        background: $yellow;
        border: 2px solid $black;
        color: black;
    }
    &:focus {
        background: $yellow;
        border: 2px solid $black;
        color: black;
    }
}

/*CONTACT STYLES*/
.contact h2 {
    margin-bottom: 15px;
}

.contact a {
    color: $black;
    border-bottom: 1px solid $black;
    font-weight: bold;
}

.contact-form {
    width: 80%;
    padding: 30px;
    margin: 50px auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="subject"],
.contact-form textarea,
.contact-form select {
    outline: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid $black;
    background: transparent;
    margin-bottom: 40px;
    height: 45px;
    color: $black;
    &:focus {
        border: 2px solid $black;
    }
}

.contact-form input[type="submit"] {
    border: 2px solid transparent;
    &:hover {
        background: $yellow;
        border: 2px solid $black;
        color: black;
    }
    &:focus {
        background: $yellow;
        border: 2px solid $black;
        color: black;
    }
}

/* FOOTER STYLES */
footer {
    position: relative;
    bottom: 0;
    padding: 0;
    background: transparent;
    width: 100%;
    margin: 0;
}

.footer-socials {
    border-top: 1px solid $black;
    display: flex;
    justify-content: center;
    .footer-socials__list {
        display: flex;
        align-items: center;
        a {
            margin: .5em;
            color: $black;
        }
    }
}