.project-hero {
    text-align: center;
    img {
        width: 80%;
    }
}

.toolkit li {
 display: inline-block;
}

.project-buttons {
    text-align: center;
    padding: 1em 0;
}

.colours {
    margin: 0 auto;
}

.project-colour {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

// JOBHUB PROJECT STYLES
.jobhub-overview p {
    a {
        font-weight: bold;
        color: black;
    }
}

.jobhub-colour-one {
    background: #232323;
}

.jobhub-colour-two {
    background: #707272;
}

.jobhub-colour-three {
    background: #dadcdd;
}

.jobhub-colour-four {
    background: #31c5b7;
}

.jobhub-heading-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.jobhub-body-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

// SIMPLEFLEX PROJECT STYLES
.simpleflex-colour-one {
    background: #f3c95e;
}

.simpleflex-colour-one {
    background: #a3ca61;
}

.simpleflex-colour-one {
    background: #f76c6c;
}

.simpleflex-colour-one {
    background: #242424;
}

.simpleflex-heading-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.sigma-body-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

// WHAT'S ON PROJECT STYLES
.whatson-overview p {
    a {
        font-weight: bold;
        color: black;
    }
}

.whatson-colour-one {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.whatson-colour-two {
    background: midnightblue;  
}

.whatson-heading-font {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.whatson-body-font {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

// FORTUNE COOKIE PROJECT STYLES
.fortune-colour-one {
    background: #E3EFFF;
}

.fortune-colour-two {
    background: #003366;;
}

.fortune-heading-font {
    font-family: 'Rokkitt', serif;
    font-weight: 700;
}

.fortune-body-font {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
}
