// FONT FAMILY
$primary: 'Questrial', sans-serif;

// FONT COLORS
$yellow: #FFE401;
$white: #ffffff;
$black: #000000;
$grey: #E1E1E1;


/* HEADER STYLES */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}
